/* ==================================================
   RESET
================================================== */

*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* ==================================================
   HTML
================================================== */

html{
    scroll-behavior:smooth;
}

/* ==================================================
   BODY
================================================== */

body{
    min-height:100vh;
    text-rendering:optimizeLegibility;
    -webkit-font-smoothing:antialiased;
}

/* ==================================================
   IMAGENS
================================================== */

img,
picture{
    display:block;
    max-width:100%;
}

/* ==================================================
   LINKS
================================================== */

a{
    text-decoration:none;
    color:inherit;
}

/* ==================================================
   LISTAS
================================================== */

ul,
ol{
    list-style:none;
}

/* ==================================================
   BOTÕES
================================================== */

button{
    border:none;
    background:none;
    cursor:pointer;
    font:inherit;
}

/* ==================================================
   FORMULÁRIOS
================================================== */

input,
textarea,
select{
    font:inherit;
    border:none;
    outline:none;
}

/* ==================================================
   TEXTAREA
================================================== */

textarea{
    resize:none;
}