/* ==================================================
   BODY
================================================== */

body{

    font-family:var(--font-text);

    color:var(--color-black);

    background:var(--color-white);

    overflow-x:hidden;

}

/* ==================================================
   CONTAINER
================================================== */

.container{

    width:min(calc(100% - 2rem),var(--container-width));

    margin-inline:auto;

}

/* ==================================================
   SEÇÕES
================================================== */

section{

    padding:var(--space-3xl) 0;

}

/* ==================================================
   TÍTULOS
================================================== */

h1,
h2,
h3,
h4{

    font-family:var(--font-title);

    font-weight:400;

    line-height:1.1;

}

/* ==================================================
   PARÁGRAFOS
================================================== */

p{

    line-height:1.7;

}